<div class="toolbar" role="banner">
  <span>Admin Portal</span>
  <div class="spacer"></div>
 
</div>
<div class="root">
  <div class="divider">
    <app-user-avatar></app-user-avatar>
    <mat-list>
      <a class="nav-link"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: true}"
         *ngFor="let link of links" [routerLink]="[link.href]"
      >
        <mat-list-item >
          <div class="menu-list-item">
          <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
          <span class="menu-name">{{link.name}}</span></div>
        </mat-list-item> 
      </a>
    </mat-list>
  </div>
  <div class="component">
    <router-outlet class="content"></router-outlet>
  </div>
</div>